body {
  font-family: Arial;
  padding: 0!important;
  background: #fff!important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.password-icon {
  
}