* {
	box-sizing: border-box;
  }
  body {
	font-family: Arial;
	padding: 20px;
	background: #f0dada;
  }
  /*Blog Tit*/
  .header {
	padding: 30px;
	font-size: 40px;
	text-align: center;
	background: white;
	border: 10px solid #AC6969 ;
  }
  /*unequal columns side by side*/
  .leftcolumn {   
	float: left;
	width: 75%;
	
  }
  .rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
  }
  .fakeimg {
	background-color: #AC6969;
	width: 100%;
	padding: 20px;
  }
  .card {
	 background-color: #F5E7E7;
	 padding: 20px;
	 margin-top: 20px;
  }
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  /* Footer */
  .footer {
	padding: 20px;
	text-align: center;
	background: rgba(172, 105, 105, 0.68);
	margin-top: 20px;
  }
  #footer .social-icon {
	  display: flex;
	  margin-bottom: 30px;
	  justify-content: center;
	  
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {   
	  width: 100%;
	  padding: 0;
	}
  }