.footerName{
    background-color: #003366;
    color:#A7D1FB;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

   
    position:relative;
    width:100% !important;
    margin-top: 1rem;
    padding: 1rem;

}
.footerName p{
    padding-top: 10px !important;
}

@media(max-width:768px){
    .footerName{
        justify-content: center !important;
    }
}