.footerName{
    background-color: #003366;
    color:#A7D1FB;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0 !important;
    position:fixed;
    width:100% !important
}
.footerName p{
    padding-top: 10px !important;
}

@media(max-width:768px){
    .footerName{
        justify-content: center !important;
    }
}